@font-face {
	font-family: "AFKlampenborg";
	src: url(../fonts/afklampenborg-medium.ttf);
	src: url(../fonts/afklampenborg-medium.eot);
	src: url(../fonts/afklampenborg-medium.svg);
	src: url(../fonts/afklampenborg-medium.woff);
}
@font-face {
	font-family: "Helios";
	src: url(../fonts/Helios.ttf);
	src: url(../fonts/Helios.eot);
	src: url(../fonts/Helios.svg);
	src: url(../fonts/Helios.woff);
}


body {
	background: linear-gradient(to bottom, #ced8d9, #fff 40%) no-repeat;
	background: -moz-linear-gradient(to bottom, #ced8d9, #fff 40%) no-repeat;
	background: -webkit-linear-gradient(to bottom, #ced8d9, #fff 40%) no-repeat;
	background: -o-linear-gradient(to bottom, #ced8d9, #fff 40%) no-repeat;
	background: -ms-linear-gradient(to bottom, #ced8d9, #fff 40%) no-repeat;
}
.wrapper {
	width: 776px;
	margin: 0 auto;
}


.logon {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 17px;
}
.logon button {
	background-color: #fff;
	border: none;
	border-radius: 0 0 20px 20px;
	padding: 7px 21px;
	font: 400 11px "Arial", regular;
}
.registration {
	border-right: 1px solid #959595;
	color: #747474;
	padding-right: 10px;
}
.login {
	color: #02a4fa;
	margin-left: 10px;
}

.logotype {
	width: 271px;
	display: flex;
	margin: 17px auto 0 0;
}
.logotype h1 {
	font: 500 21px "AFKlampenborg", Medium;
	color: #939598;
	width: 101px;
}
.logotype div, .cherkassy {
	display: flex;
}
.community {
	width: 305px;
	color: #646464;
	font: 400 15px "Helios", Regular;
	margin: 45px 29px 42px auto;
}


.tabs ul {
	display: flex;
	justify-content: flex-end;
	color: #939598;
	font: 400 16px "Arial", Regular;
}
.tabs ul li {
	width: 133px;
	text-align: center;
	border-top: 1px solid #939598;
	padding: 18px 0;
}
.tabs ul {
	border-bottom: 1px solid #939598;
}
.tabs ul li:first:child {
	content: '';
	border-bottom: none;
}
.main {
	color: #45b8fb;
	border-left: 1px solid #939598;
	border-right: 1px solid #939598;
	border-bottom: none;
	border-top-left-radius: 30px;
	background: linear-gradient(to top, #e9edee, #fff 60%) no-repeat;
	background: -moz-linear-gradient(to top, #e9edee, #fff 60%) no-repeat;
	background: -webkit-linear-gradient(to top, #e9edee, #fff 60%) no-repeat;
	background: -o-linear-gradient(to top, #e9edee, #fff 60%) no-repeat;
	background: -ms-linear-gradient(to top, #e9edee, #fff 60%) no-repeat;
}
.company {
	margin-right: 27px;
	border-top-right-radius: 30px;
	border-left: 1px solid #939598;
	border-right: 1px solid #939598;
}

nav {
	width: 230px;
	margin-right: 20px;
}
nav h2 {
	font: 400 20px "Arial", Regular;
	color: #03a7fe;
	margin-top: 25px;
	margin-bottom: 33px;
}
nav h2:after {
	content: '';
	display: inline-block;
	width: 12px;
	height: 10px;
	margin-left: 8px;
	background: url("../images/pointer.png");
}
nav ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cbcac9;
}
nav ul li a {
	color: #555;
	font: 400 14px "Arial", Regular;
}
nav ul li:before {
	content: '\f178';
	font-family: FontAwesome;
	color: #00a5ff;
	margin-right: 10px;
}
nav ul li:last-child {
	content: '';
	border-bottom: none;
}