@font-face {
	font-family: "AFKlampenborg";
	src: url(../fonts/afklampenborg-medium.ttf);
	src: url(../fonts/afklampenborg-medium.eot);
	src: url(../fonts/afklampenborg-medium.svg);
	src: url(../fonts/afklampenborg-medium.woff);
}
@font-face {
	font-family: "Helios";
	src: url(../fonts/Helios.ttf);
	src: url(../fonts/Helios.eot);
	src: url(../fonts/Helios.svg);
	src: url(../fonts/Helios.woff);
}


body {
	background: linear-gradient(to bottom, #ced8d9, #fff 40%) no-repeat;
	background: -moz-linear-gradient(to bottom, #ced8d9, #fff 40%) no-repeat;
	background: -webkit-linear-gradient(to bottom, #ced8d9, #fff 40%) no-repeat;
	background: -o-linear-gradient(to bottom, #ced8d9, #fff 40%) no-repeat;
	background: -ms-linear-gradient(to bottom, #ced8d9, #fff 40%) no-repeat;
}
.wrapper {
	width: 776px;
	margin: 0 auto;
}


.logon {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 17px;
}
.logon button {
	background-color: #fff;
	border: none;
	border-radius: 0 0 20px 20px;
	padding: 7px 21px;
	font: 400 11px "Arial", regular;
}
.registration {
	border-right: 1px solid #959595;
	color: #747474;
	padding-right: 10px;
}
.login {
	color: #02a4fa;
	margin-left: 10px;
}

.logotype {
	width: 271px;
	display: flex;
	margin: 17px auto 0 0;
}
.logotype h1 {
	font: 500 21px "AFKlampenborg", Medium;
	color: #939598;
	width: 101px;
}
.logotype div, .cherkassy {
	display: flex;
}
.community {
	width: 305px;
	color: #646464;
	font: 400 15px "Helios", Regular;
	margin: 45px 29px 42px auto;
}


.content {
	display: flex;
}
.tabs ul {
	display: flex;
	justify-content: flex-end;
	border-bottom: 1px solid #939598;
	font: 400 16px "Arial", Regular;
}
.tabs ul li {
	width: 133px;
	text-align: center;
	border-top: 1px solid #939598;
	padding: 18px 0;
}
.tabs a {
	color: #939598;
}
.main {
	color: #45b8fb;
	border-left: 1px solid #939598;
	border-right: 1px solid #939598;
	border-bottom-color: #e8eced;
	margin-bottom: -1px;
	border-top-left-radius: 30px;
	background: linear-gradient(to top, #e9edee, #fff 60%) no-repeat;
	background: -moz-linear-gradient(to top, #e9edee, #fff 60%) no-repeat;
	background: -webkit-linear-gradient(to top, #e9edee, #fff 60%) no-repeat;
	background: -o-linear-gradient(to top, #e9edee, #fff 60%) no-repeat;
	background: -ms-linear-gradient(to top, #e9edee, #fff 60%) no-repeat;
}
.company {
	margin-right: 27px;
	border-top-right-radius: 30px;
	border-left: 1px solid #939598;
	border-right: 1px solid #939598;
}

nav {
	width: 230px;
	margin-right: 20px;
}
nav h2 {
	font: 400 20px "Arial", Regular;
	color: #03a7fe;
	margin-top: 25px;
	margin-bottom: 26px;
}
nav h2:after {
	content: '';
	display: inline-block;
	width: 12px;
	height: 10px;
	margin-left: 8px;
	background: url("../images/pointer.png");
}
nav ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cbcac9;
}
nav ul li a {
	color: #555;
	font: 400 14px "Arial", Regular;
}
nav ul li:before {
	content: '\f178';
	font-family: FontAwesome;
	color: #00a5ff;
	margin-right: 10px;
}
nav ul li:last-child {
	content: '';
	border-bottom: none;
}


.rss {
	width: 230px;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #cbcac9;
	border-top: 1px solid #cbcac9;
	padding-bottom: 16px;
	padding-top: 15px;
	margin-top: 39px;
}
.rss button {
	font: 500 21px "AFKlampenborg", Medium;
	color: #939598;
	padding: 7px 24px 8px 25px;
	border-radius: 20px;
	background-color: white;
	border: 3px solid #ff9600;
}
.rss button:before {
	content: '';
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 6px;
	background: url("../images/smart-object.png");
}

.logotypes-company {
	width: 230px;
	display: flex;
	justify-content: center;
	padding-top: 30px;
}
.logotypes-company ul li{
	margin-bottom: 15px;
}
.logotypes-company img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
 	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.logotypes-company img:hover {
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;
	filter: none;
}


.main-info {
	width: 528px;
	margin-top: 64px;
}
.main-info h2 {
	font: 400 26px "Arial", Regular;
	color: #010101;
	padding-bottom: 16px;
	border-bottom: 1px solid #00a7fb;
}
.main-info ul li{
	display: flex;
	padding: 17px 0 18px 11px;
	border-bottom: 1px solid #00a7fb;
}
.main-info img {
	margin-right: 21px;
}
.main-info caption {
	color: #03a7fe;
	font: 400 22px "Arial", Regular;
	text-align: left;
}
.info-company table {
	width: 393px;
	color: #505050;
	font: 400 12px "Arial", Regular;
}
.dark {
	background-color: #dfe5e6;
}
.info-company table tr td {
	padding: 7px 0 6px 8px;
}
.gray {
	background-color: #edf0f1;
}
.left {
	margin-left: 218px;
}
.border {
	border-bottom: 3px solid #fff;
}
.tel a, .skype a, .mail a, .social-network a {
	color: black;
	margin-left: 200px;
}
.site a {
	color: #03a7fe;
}
.tel a:before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../images/telefone.png");
	margin-right: 6px;
}
.skype a:before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../images/skype.png");
	margin-right: 6px;
}
.mail a:before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../images/at.png");
	margin-right: 6px;
}
.social-network a:before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 13px;
	background: url("../images/t.png");
	margin-right: 6px;
}


.copyright {
	margin-top: 96px;
	border-top: 1px solid #a4a4a6;
	display: flex;
	justify-content: flex-end;
	
}
.copyright p {
	font: 400 10px "Arial", Regular;
	color: #78797b;
	padding: 10px 0 10px 12px;
	width: 503px;
	margin-right: 25px;
	margin-bottom: 32px;
	background-color: #d9dada;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
.copyright span {
	color: black;
}
.copyright p:after {
	content: '';
	display: inline-flex;
	justify-content: space-between;	
	width: 26px;
	height: 14px;
	background: url("../images/smart-object-master.png");
	margin-left: 245px;
}